<ion-header>
<navbar title="Tracking" back="true"></navbar>
</ion-header>

<ion-content class="background">

    <br>
    <ion-list>
        <ion-item>
            <ion-label>Select Train</ion-label>
            <ion-select [(ngModel)]="train_select" (ionChange)="loadStations(train_select)">
                <ion-option *ngFor="let train of trains | async" value="{{train.$key}}">{{train.name}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <button ion-button full primary block round (click)="start(train_select)" [disabled]="startDisabled">Start Tracking</button>
    <button ion-button full primary block round (click)="stop()"  [disabled]="stopDisabled">Stop Tracking</button>
    <div>
    </div>
    <div>
        <img *ngIf="imgDisplayed" src="assets/images/webview.gif">
    </div>
</ion-content>
