page-tracking {
    ion-spinner {
        &.spinner-circles circle,
        &.spinner-bubbles circle,
        &.spinner-dots circle {
            stroke: #1A53A7;
            fill: #1A53A7;
            align-items: center;
            margin:auto
        }
    }
}
