<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{start_station}} - {{end_station}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list no-border>

        <ion-item-divider *ngIf="direct_trains.length>0" color="light" style="font-size:18px;"><b>Direct Trains</b></ion-item-divider>
            <ion-item *ngIf="direct_trains.length==0">
        <p>No Trains Available</p>
    </ion-item>
        <ion-item *ngFor="let direct_train of direct_trains" (click)="getDetails(direct_train[0])">
            <ion-avatar item-left>
              <img src="assets/images/train.png">
            </ion-avatar>
            {{direct_train[3]}}
            <p>arriving at: {{direct_train[1]}}&nbsp;&nbsp;/&nbsp;&nbsp;departing at: {{direct_train[2]}}</p>
        </ion-item>
    </ion-list>

    <ion-list *ngFor="let other_option of other_options">
        <ion-item-divider color="light" style="font-size:18px;"><b>Other Options</b></ion-item-divider>
        <ion-item *ngFor="let train of other_option" (click)="getDetails(train[0])">
            <ion-avatar item-left>
              <img src="assets/images/train.png">
            </ion-avatar>
            {{train[3]}}
            <p>{{train[4]}}</p>
            <p>arriving at: {{train[1]}}&nbsp;&nbsp;/&nbsp;&nbsp;departing at: {{train[2]}}</p>
        </ion-item>
    </ion-list>

</ion-content>
