<ion-header>
    <navbar title="Trains" back="true"></navbar>
</ion-header>

<ion-content class="background">
    <ion-list no-border>

        <ion-item-divider *ngIf="direct_trains.length>0" color="light" style="font-size:18px;"><h2><b>Direct Trains</b></h2></ion-item-divider>
            <ion-item *ngIf="direct_trains.length==0">
        <h4>No Trains Available</h4>
    </ion-item>
        <ion-item *ngFor="let direct_train of direct_trains" (click)="getDetails(direct_train[0])">
            <ion-avatar item-left>
              <img src="assets/images/train1.png">
            </ion-avatar>
            <h2>{{direct_train[3]}}</h2>
            <h4>arriving at: {{direct_train[1]}}&nbsp;&nbsp;/&nbsp;&nbsp;departing at: {{direct_train[2]}}</h4>
        </ion-item>
    </ion-list>

    <ion-list *ngFor="let other_option of other_options">
        <ion-item-divider color="light" style="font-size:18px;"><h2><b>Other Options</b></h2></ion-item-divider>
        <ion-item *ngFor="let train of other_option" (click)="getDetails(train[0])">
            <ion-avatar item-left>
              <img src="assets/images/train.png">
            </ion-avatar>
            <h2>{{train[3]}}</h2>
            <h4>arriving at: {{train[1]}}&nbsp;&nbsp;/&nbsp;&nbsp;departing at: {{train[2]}}</h4>
        </ion-item>
    </ion-list>

</ion-content>
