.page-settings {
  .text-to-change div {
    margin: 10px auto;
  }

  ion-row,
  ion-col {
    padding: 0;
  }

  .text-button {
    padding-left: 0;
    text-align: center;
    min-height: 20px;
    line-height: 18px;
  }

  .text-button .item-inner {
    padding-right: 0;
  }

  .text-smaller {
    font-size: 12px;
  }

  .text-larger {
    font-size: 16px;
  }

  .row-dots {
    text-align: center;

    .dot {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      margin: 10px auto;
      position: relative;
    }
  }

.page-settings {
  .text-smaller,
  .row-dots,
  .dot {
    border-width: $hairlines-width;
  }
}
