page-chat-view{

}

.chat-view {
  .messages {
    width: 100%;
    position: absolute;
    .message {
      width: 70%;
      padding: 5px;
      background: #1A53A7;
      border-radius: 5px;
      margin: 5px;
      float: left;
    }
    .message.me {
      float: right;
      background: #1A53A7;
      border: 1px solid #3F51B5;
      text-align: right;
    }
  }
}
ion-icon{font-size:25px;}
