<ion-header>
    <ion-navbar>
        <ion-title>{{stationName}}</ion-title>
        <ion-buttons end>
            <button ion-button (click)="showOnMap()">View On Map</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <img src="assets/images/stations/{{stationId}}.jpg">
    <div text-center>
        <h3>{{trainName}}</h3>
        <div *ngIf="current_station==''">
            Running from {{prev_station}} to {{next_station}}
            <br>
            Average Speed: {{avg_speed}}
            <br>
            Current Speed: {{current_speed}}
        </div>
        <div *ngIf="current_station!=''">
            Stopped at {{current_station}}
        </div>
        <br>
        <h4>Expected Arriving Time:</h4>
        {{static_ar_time}}
        <br>
        <h4>Updated Expected Time:</h4>
        {{dynamic_ar_time}}
        <br>
        <h4>Delay:</h4>
        {{delay}}
        <br>
        <h3>Time Remaining:</h3>
        {{tick}}
    </div>

</ion-content>
