page-users {

}
ul {
  padding: 0px;
  margin: 0px auto;

  &.rating li {
    padding: 2px 10px !important;

    background: none;
    color: #ffb400;

    ion-icon {
      font-size: 15px;
      margin: -8px;

    }
  }
}
